# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Machine Learning Models
model/
*.pt
*.pth
*.onnx
*.pb
*.h5
*.pkl
*.joblib

# Data (ถ้าไม่ต้องการเก็บ data ใน git)
# data/

# Logs and outputs
*.log
logs/
outputs/
runs/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Environment variables
.env
.env.local

# Temporary files
*.tmp
temp/
tmp/

data/*
data_yolo/
model/*

augmentation_result_1
result
.results_yolo/
result_1class_1img
result_backup
result_fcdd
result_mobile_sife_cuda
result_predict_test
result_resnet
augmentation_result_1.zip
result.zip